<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Files Table</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Files Table</h1>
    <table>
        <thead>
            <tr>
                <th>Filename</th>
                <th>URL</th>
            </tr>
        </thead>
        <tbody>
            {% for file in files %}
            <tr>
                <td>{{ file.filename }}</td>
                <td><a href="{{ file.url }}">Show</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="/deleteall">Delete All File</a>
</body>
</html>
